/datasets
/PLyF
/proyect-api
/api-android/ml_api/decision_forest/__pycache__/
/api-android/ml_api/decision_forest/models/__pycache__/
/api-android/ml_api/decision_forest/migrations/__pycache__/
/api-android/ml_api/ml_api/__pycache__/
/api-android/ml_api/ml_api/migrations/__pycache__/
/api-android/ml_api/ml_api/staticfiles/
/api-android/ml_api/ml_api/db.sqlite3
/api-android/ml_api/ml_api/.env
/api-android/ml_api/ml_api/celerybeat-schedule
/api-android/ml_api/ml_api/media/
/mongo_dump_final_safe/
/api-android/ml_api/mi_api.zip